* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

/*------Mobile first--------*/
.container {
    text-align: center;
    margin: 5%;
}

.container2 {
    background-color: #333333;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    margin: 0;
}

.container3 {
    background-color: #D75A62;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

p, h1, h2 {
    color: #fff;
}

p {
    font-size: 18px;
}

/*------Nav style--------*/
nav {
    width: 100%;
    background: #333333;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    color: white;
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li a{
	text-decoration: none;
	font-size: 0.9rem;
    transition: .3s;
    color: #fff;
}

ul li a:hover{
	color: #D75A62;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #333333;
    text-align: right;
    color: #fff;
    font-size: 30px;
    display: none;
}

.menu {
    cursor: pointer;
}

/*-------Main style------*/
.construction p {
    font-size: 30px;
}

.avatar img {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 20px 0;
}

.divider::before,
.divider::after{
    content: '';
    display: block;
    height: 2px;
    min-width: 20%;
    border: 1px;
}

.divider::before {
    background: linear-gradient(to right, rgba(240,240,240,0), #fff);
    margin-right: 4vh;
}
  
.divider::after {
    background: linear-gradient(to left, rgba(240,240,240,0), #fff);
    margin-left: 4vh;
} 

.about p {
    margin: 20px;
}

.bouton-projet a,
.bouton-cv a {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border-radius: 6px;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    transition: .3s;
}

.bouton-projet a:hover,
.bouton-cv a:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #333333;
    cursor: pointer;
}

.bouton-projet a:hover {
    background: #D75A62!important;
    border: 2px solid #D75A62!important;
}

/*------Cards style------*/
.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #fff;
    margin: 30px;
    width: 85%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card p {
    color: #333333;
    padding: 0 30px;
    padding-top: 30px;
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.bouton-projet {
    padding: 30px;
}

.bouton-projet a {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border-radius: 6px;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #333333;
    color: #333333;
    transition: .3s;
}

.bouton-projet a:hover {
    background: #333333;
    border: 2px solid #333333;
    color: #fff;
    cursor: pointer;
}

/*------Social buttons style------*/
.social {
    margin: 20px 0;
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    color: #fff;
    transition: color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, 
                box-shadow 0.15s ease-in-out;
}

.social:hover{
    background: #fff;
    color: #D75A62;
}

/*------Media queries------*/

@media (max-width:700px) {
    .toggle {
        display: block;
    }
    ul {
        width: 100%;
        display: none;
    }
    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
}

@media (min-width:720px) {
    ul li {
        padding: 25px;
    }
    
    ul li a{
        font-size: 15px;
    }

    .container2 {
        background-color: #333333;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 50px;
        margin: 0;
    }

    .container3 {
        background-color: #D75A62;
        text-align: center;
        padding: 50px 0;
        margin: 0;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background: #fff;
        margin: 60px;
        width: 100%;
    }
    
    .card p {
        color: #333333;
        padding: 0 30px;
        padding-top: 30px;
    }
    
    .divider::before,
    .divider::after{
        min-width: 30%;
    }
    
    .about {
        margin-top: 50px;
    }

    .aboutP {
        margin: 10px 10px;
        text-align: justify;
    }
}

@media (min-width:900px) {
    ul li {
        padding: 30px;
    }
    
    ul li a{
        font-size: 17px;
    }

    .container2 {
        background-color: #333333;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 50px;
        margin: 0;
    }

    .container3 {
        background-color: #D75A62;
        text-align: center;
        padding: 50px 0;
        margin: 0;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background: #fff;
        width: 30%;
    }

    .card p {
        color: #333333;
        padding: 0 30px;
        padding-top: 30px;
    }

    .about {
        margin-top: 50px;
    }

    .aboutP {
        margin: 10px 10px;
        text-align: justify;
    }
}

@media (min-width:1500px) {
    ul li {
        padding: 30px;
    }
    
    ul li a{
        font-size: 18px;
    }

    #header {
        font-size: 20px;
        margin-top: 100px;
    }

    p {
        font-size: 20px;
    }

    .construction p {
        font-size: 40px;
    }

    .about {
        margin-top: 80px;
    }

    .aboutP {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin: 40px 200px;
        text-align: justify;
    }
    
    main h2 {
        font-size: 30px;
    }

    .container2 {
        background-color: #333333;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 50px;
        margin: 0;
    }

    .container3 {
        background-color: #D75A62;
        text-align: center;
        padding: 50px 0;
        margin: 0;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        display: flex;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background: #fff;
        width: 20%;
    }

    .card p {
        color: #333333;
        padding: 0 30px;
        padding-top: 30px;
    }

    .bouton-projet {
        padding: 20px 0;
    }
}







